
<!-- menu prile quick info -->
<div class="profile">
            @if (ViewBag.Login == null)
            {
                <div class="profile_pic">
                    <img src="~/Content/images/user.png" alt="..." class="img-circle profile_img">
                </div>
    <div class="profile_info">
        <span>Welcome ...</span>
    </div>
            }
            else
            {
                <div class="profile_pic">
                    <img src="~/Content/data/@ViewBag.Image" alt="..." class="img-circle profile_img">
                </div>
    <div class="profile_info">
        <span>Welcome,</span>
        <h2>@ViewBag.Login</h2>
    </div>
            }
</div>
<!-- /menu prile quick info -->

<br />