<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-edit"></i> News Feed <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li>
                        <a href="empty.html">Site News</a>
                    </li>
                    <li>
                        <a href="empty.html">World News</a>
                    </li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Courses <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li>
                        <a href="empty.html">Name</a>
                    </li>
                    <li>
                        <a href="empty.html">Course No.</a>
                    </li>
                    <li>
                        <a href="empty.html">Department</a>
                    </li>
                    <li>
                        <a href="empty.html">View All</a>
                    </li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Books <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li>
                        <a href="empty.html">Name</a>
                    </li>
                    <li>
                        <a href="empty.html">Book Code</a>
                    </li>
                    <li>
                        <a href="empty.html">Category</a>
                    </li>
                    <li>
                        <a href="empty.html">View All</a>
                    </li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Magzines <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li>
                        <a href="empty.html">Name</a>
                    </li>
                    <li>
                        <a href="empty.html">View All</a>
                    </li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Lectures <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li>
                        <a href="empty.html">Topic</a>
                    </li>
                    <li>
                        <a href="empty.html">Course No.</a>
                    </li>
                    <li>
                        <a href="empty.html">Department</a>
                    </li>
                    <li>
                        <a href="empty.html">View All</a>
                    </li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-arrow-circle-o-right"></i> Collections <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li>
                        <a href="empty.html">Lectures</a>
                    </li>
                    <li>
                        <a href="empty.html">Books</a>
                    </li>
                    <li>
                        <a href="empty.html">New Courses</a>
                    </li>
                    <li>
                        <a href="empty.html">Classrooms</a>
                    </li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-university"></i> Classrooms <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" id="classroom" style="display: none">
                    <li>
                        <a href="empty.html">As Teacher</a>
                    </li>
                    <li>
                        <a href="empty.html">As Student</a>
                    </li>
                    <li>
                        <a href="empty.html">As TA</a>
                    </li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-university"></i> Statistics <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" id="classroom" style="display: none">
                    <li>
                        <a href="empty.html">Site Stats</a>
                    </li>
                    <li>
                        <a href="empty.html">Conact Us</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /sidebar menu -->