
<div id="login" class="animate form">
    <section class="login_content">

        <form id="login_form" action="/User/Login" method="post">
            <h1>Login Form</h1>
            <div>
                <label class="left">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Username" required="" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{5,20}$" />
            </div>
            <div>
                <label class="left">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password" required="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" />
            </div>
            <div>
                <input type="submit" class="btn btn-success submit" value="Login" />
                <input type="button" class="btn btn-default submit cancelBtn" value="Cancel" />
                <a class="reset_pass" href="#">Lost your password?</a>
            </div>
            <div class="clearfix"></div>
            <div class="separator">

                <p class="change_link">
                    New to site?
                    <a href="#toregister" class="to_register"> Create Account </a>
                </p>
                <div class="clearfix"></div>
                <br />
                <div>
                    <h1><i class="fa fa-paw" style="font-size: 26px;"></i> OPEN COURSEWARE!</h1>

                    <p>©2015 All Rights Reserved. Privacy and Terms</p>
                </div>
            </div>
        </form>
        <!-- form -->
    </section>
    <!-- content -->
</div>