@model System.Collections.Generic.List<Entities.Cours>
@{
    ViewBag.Title = "CourseNo.";
}

<h2>CourseNo.</h2>
@section heading{
    Search By Course No.
}
Hi
@foreach(var item in @Model)
{
    <ul class="to_do" >
        <li>
         <a id="cli">@item.course_id  &nbsp; &nbsp; @item.course_name  <span class="fa fa-chevron-down"></span> </a>
            <ul class="nav chaild_menu">
                <li class="">
                    Credits: @item.credits
                </li>
                <li>
                    Description: @item.description
                </li>
            </ul>
        </li>
    </ul>
   
}


