@model KeyValuePair<List<Entities.Dept>, List<Entities.Cours>>

@{
    ViewBag.Title = "dept";
}

<h2>dept</h2>
@section heading{
    Search by Department
}
<ul class="to_do">
    @foreach(var dept in @Model.Key){
        <li>
            @dept.dept_name
            <ul class="to_do">
                @foreach (var course in @Model.Value)
                {
                    if (course.dept_id == dept.dept_id)
                    {
                        <li>
                            <a> @course.course_name </a>
                        </li>
                    }
                }
            </ul>
        </li>
    }
</ul>