@{
    ViewBag.Title = "ContactUs";
}
@section heading
{
   Contact Us.

}

<div class="row">               
<div class="clearfix"></div>
<div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
    <div class="well profile_view">
        <div class="col-sm-12">
            <h4 class="brief"><i>Digital Strategist</i></h4>
            <div class="left col-xs-7">
                <h2>Nicole Pearson</h2>
                <p><strong>About: </strong> Web Designer / UI. </p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone"></i> Address: PUCIT LHR Pakistan </li>
                </ul>
            </div>
            <div class="right col-xs-5 text-center">
                <img src="~/Content/images/img.jpg" alt="" class="img-circle img-responsive">
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
    <div class="well profile_view">
        <div class="col-sm-12">
            <h4 class="brief"><i>Digital Strategist</i></h4>
            <div class="left col-xs-7">
                <h2>Nicole Pearson</h2>
                <p><strong>About: </strong> Web Designer / UI. </p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone"></i> Address: PUCIT LHR Pakistan </li>
                </ul>
            </div>
            <div class="right col-xs-5 text-center">
                <img src="~/Content/images/img.jpg" alt="" class="img-circle img-responsive">
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
    <div class="well profile_view">
        <div class="col-sm-12">
            <h4 class="brief"><i>Digital Strategist</i></h4>
            <div class="left col-xs-7">
                <h2>Nicole Pearson</h2>
                <p><strong>About: </strong> Web Designer / UI. </p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone"></i> Address: PUCIT LHR Pakistan </li>
                </ul>
            </div>
            <div class="right col-xs-5 text-center">
                <img src="~/Content/images/img.jpg" alt="" class="img-circle img-responsive">
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
    <div class="well profile_view">
        <div class="col-sm-12">
            <h4 class="brief"><i>Digital Strategist</i></h4>
            <div class="left col-xs-7">
                <h2>Nicole Pearson</h2>
                <p><strong>About: </strong> Web Designer / UI. </p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone"></i> Address: PUCIT LHR Pakistan </li>
                </ul>
            </div>
            <div class="right col-xs-5 text-center">
                <img src="~/Content/images/img.jpg" alt="" class="img-circle img-responsive">
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
    <div class="well profile_view">
        <div class="col-sm-12">
            <h4 class="brief"><i>Digital Strategist</i></h4>
            <div class="left col-xs-7">
                <h2>Nicole Pearson</h2>
                <p><strong>About: </strong> Web Designer / UI. </p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone"></i> Address: PUCIT LHR Pakistan </li>
                </ul>
            </div>
            <div class="right col-xs-5 text-center">
                <img src="~/Content/images/img.jpg" alt="" class="img-circle img-responsive">
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
    <div class="well profile_view">
        <div class="col-sm-12">
            <h4 class="brief"><i>Digital Strategist</i></h4>
            <div class="left col-xs-7">
                <h2>Nicole Pearson</h2>
                <p><strong>About: </strong> Web Designer / UI. </p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone"></i> Address: PUCIT LHR Pakistan </li>
                </ul>
            </div>
            <div class="right col-xs-5 text-center">
                <img src="~/Content/images/img.jpg" alt="" class="img-circle img-responsive">
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
    <div class="well profile_view">
        <div class="col-sm-12">
            <h4 class="brief"><i>Digital Strategist</i></h4>
            <div class="left col-xs-7">
                <h2>Nicole Pearson</h2>
                <p><strong>About: </strong> Web Designer / UI. </p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone"></i> Address: PUCIT LHR Pakistan </li>
                </ul>
            </div>
            <div class="right col-xs-5 text-center">
                <img src="~/Content/images/img.jpg" alt="" class="img-circle img-responsive">
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
    <div class="well profile_view">
        <div class="col-sm-12">
            <h4 class="brief"><i>Digital Strategist</i></h4>
            <div class="left col-xs-7">
                <h2>Nicole Pearson</h2>
                <p><strong>About: </strong> Web Designer / UI. </p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone"></i> Address: PUCIT LHR Pakistan </li>
                </ul>
            </div>
            <div class="right col-xs-5 text-center">
                <img src="~/Content/images/img.jpg" alt="" class="img-circle img-responsive">
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
    <div class="well profile_view">
        <div class="col-sm-12">
            <h4 class="brief"><i>Digital Strategist</i></h4>
            <div class="left col-xs-7">
                <h2>Nicole Pearson</h2>
                <p><strong>About: </strong> Web Designer / UI. </p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone"></i> Address: PUCIT LHR Pakistan </li>
                </ul>
            </div>
            <div class="right col-xs-5 text-center">
                <img src="~/Content/images/img.jpg" alt="" class="img-circle img-responsive">
            </div>
        </div>
    </div>
</div>
</div>
