@{
    ViewBag.Title = "SearchByBookName";
}

@section heading
{
    Search Book by Book Name

}
@model List<Entities.Book>


<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="dashboard_graph">

        

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Books</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <div class="row">
                                @foreach (var v in Model)
                                {
                                    <div class="col-md-55">
                                        <div class="thumbnail">

                                            <div class="image view view-first">

                                                <img style="width: 100%; display: block;" src='@if (Url != null)
                                                                                               {
                                                                                                   @Url.Content("~/Content/images/" + @v.book_id)
                                                                                               }
                                                                                               else
                                                                                               {
                                                                                                   @Url.Content("~/Content/data/picture.jpg")
                                                                                               }' alt="image">

                                            </div>
                                            <div class="caption">
                                                <p>@v.name</p>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="clearfix"></div>
    </div>
</div>

