@{
    Layout = "~/Views/Layout/AjaxSearch.cshtml";
}
@section ajaxUrl
{
    url : "/Books/GetJsonData",
}
@section checkBox
{
<div class="">
    <label>
        <input type="checkbox" class="js-switch" checked="" data-switchery="true" style="display: none;" id="search_name"> Name
    </label>
</div>
<div class="">
    <label>
        <input type="checkbox" class="js-switch" data-switchery="false" style="display: none;" id="search_author"> Author
    </label>
</div>
}
@section ajaxSendData
{
    var nameCheck = parseInt($("#search_name").closest("div").find(".switchery small").css("left")) > 0;
    var authorCheck = parseInt($("#search_author").closest("div").find(".switchery small").css("left")) > 0;
    var data = {
        str: $("#search_bar").val(),
        name: nameCheck,
        author: authorCheck
    }
}
@section defaultItemImage
{@Url.Content("~/Content/data/book.png")}


Books