@{
    ViewBag.Title = "Site";
}
@section heading{

<h2>Site</h2>
}
<style>
    .left {
        margin-left: 7%;
    }
</style>
<div class="x_panel">
    <div class="x_title">
        <h2>Latest Books</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row tile_count">
            <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                <div class="left" style="width: 8%;"></div>
                <div class="right">
                    <div class="count">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block; margin-bottom: 3%;" src="~/Content/images/4.jpg" alt="image">
                        </div>
                    </div>
                    <span class="count_bottom"><i class="green">Calculus II </i> </span>
                    <span class="count_bottom"><i class="fa fa-user"></i> Howard ANton</span>
                </div>
            </div>
            <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                <div class="left" style="width: 8%;"></div>
                <div class="right">
                    <div class="count">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block; margin-bottom: 3%;" src="~/Content/images/4.jpg" alt="image">
                        </div>
                    </div>
                    <span class="count_bottom"><i class="green">Calculus II </i> </span>
                    <span class="count_bottom"><i class="fa fa-user"></i> Howard ANton</span>
                </div>
            </div>
            <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                <div class="left" style="width: 8%;"></div>
                <div class="right">
                    <div class="count">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block; margin-bottom: 3%;" src="~/Content/images/4.jpg" alt="image">
                        </div>
                    </div>
                    <span class="count_bottom"><i class="green">Calculus II </i> </span>
                    <span class="count_bottom"><i class="fa fa-user"></i> Howard ANton</span>
                </div>
            </div>
            <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                <div class="left" style="width: 8%;"></div>
                <div class="right">
                    <div class="count">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block; margin-bottom: 3%;" src="~/Content/images/4.jpg" alt="image">
                        </div>
                    </div>
                    <span class="count_bottom"><i class="green">Calculus II </i> </span>
                    <span class="count_bottom"><i class="fa fa-user"></i> Howard ANton</span>
                </div>
            </div>
            <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                <div class="left" style="width: 8%;"></div>
                <div class="right">
                    <div class="count">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block; margin-bottom: 3%;" src="~/Content/images/4.jpg" alt="image">
                        </div>
                    </div>
                    <span class="count_bottom"><i class="green">Calculus II </i> </span>
                    <span class="count_bottom"><i class="fa fa-user"></i> Howard ANton</span>
                </div>
            </div>
            <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                <div class="left" style="width: 8%;"></div>
                <div class="right">
                    <div class="count">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block; margin-bottom: 3%;" src="~/Content/images/4.jpg" alt="image">
                        </div>
                    </div>
                    <span class="count_bottom"><i class="green">Calculus II </i> </span>
                    <span class="count_bottom"><i class="fa fa-user"></i> Howard ANton</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="x_panel">
    <div class="x_title">
        <h2>Latest Lectures</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row tile_count">
            <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                <div class="left" style="width: 8%;"></div>
                <div class="right">
                    <div class="count">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block; margin-bottom: 3%;" src="~/Content/images/4.jpg" alt="image">
                        </div>
                    </div>
                    <span class="count_bottom"><i class="green">Calculus II </i> </span>
                    <span class="count_bottom"><i class="fa fa-user"></i> Howard ANton</span>
                </div>
            </div>
            <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                <div class="left" style="width: 8%;"></div>
                <div class="right">
                    <div class="count">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block; margin-bottom: 3%;" src="~/Content/images/4.jpg" alt="image">
                        </div>
                    </div>
                    <span class="count_bottom"><i class="green">Calculus II </i> </span>
                    <span class="count_bottom"><i class="fa fa-user"></i> Howard ANton</span>
                </div>
            </div>
            <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                <div class="left" style="width: 8%;"></div>
                <div class="right">
                    <div class="count">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block; margin-bottom: 3%;" src="~/Content/images/4.jpg" alt="image">
                        </div>
                    </div>
                    <span class="count_bottom"><i class="green">Calculus II </i> </span>
                    <span class="count_bottom"><i class="fa fa-user"></i> Howard ANton</span>
                </div>
            </div>
            <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                <div class="left" style="width: 8%;"></div>
                <div class="right">
                    <div class="count">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block; margin-bottom: 3%;" src="~/Content/images/4.jpg" alt="image">
                        </div>
                    </div>
                    <span class="count_bottom"><i class="green">Calculus II </i> </span>
                    <span class="count_bottom"><i class="fa fa-user"></i> Howard ANton</span>
                </div>
            </div>
            <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                <div class="left" style="width: 8%;"></div>
                <div class="right">
                    <div class="count">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block; margin-bottom: 3%;" src="~/Content/images/4.jpg" alt="image">
                        </div>
                    </div>
                    <span class="count_bottom"><i class="green">Calculus II </i> </span>
                    <span class="count_bottom"><i class="fa fa-user"></i> Howard ANton</span>
                </div>
            </div>
            <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                <div class="left" style="width: 8%;"></div>
                <div class="right">
                    <div class="count">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block; margin-bottom: 3%;" src="~/Content/images/4.jpg" alt="image">
                        </div>
                    </div>
                    <span class="count_bottom"><i class="green">Calculus II </i> </span>
                    <span class="count_bottom"><i class="fa fa-user"></i> Howard ANton</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="x_panel">
    <div class="x_title">
        <h2>Latest Courses</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row tile_count">
            <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                <div class="left" style="width: 8%;"></div>
                <div class="right">
                    <div class="count">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block; margin-bottom: 3%;" src="~/Content/images/4.jpg" alt="image">
                        </div>
                    </div>
                    <span class="count_bottom"><i class="green">Calculus II </i> </span>
                    <span class="count_bottom"><i class="fa fa-user"></i> Howard ANton</span>
                </div>
            </div>
            <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                <div class="left" style="width: 8%;"></div>
                <div class="right">
                    <div class="count">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block; margin-bottom: 3%;" src="~/Content/images/4.jpg" alt="image">
                        </div>
                    </div>
                    <span class="count_bottom"><i class="green">Calculus II </i> </span>
                    <span class="count_bottom"><i class="fa fa-user"></i> Howard ANton</span>
                </div>
            </div>
            <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                <div class="left" style="width: 8%;"></div>
                <div class="right">
                    <div class="count">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block; margin-bottom: 3%;" src="~/Content/images/4.jpg" alt="image">
                        </div>
                    </div>
                    <span class="count_bottom"><i class="green">Calculus II </i> </span>
                    <span class="count_bottom"><i class="fa fa-user"></i> Howard ANton</span>
                </div>
            </div>
            <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                <div class="left" style="width: 8%;"></div>
                <div class="right">
                    <div class="count">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block; margin-bottom: 3%;" src="~/Content/images/4.jpg" alt="image">
                        </div>
                    </div>
                    <span class="count_bottom"><i class="green">Calculus II </i> </span>
                    <span class="count_bottom"><i class="fa fa-user"></i> Howard ANton</span>
                </div>
            </div>
            <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                <div class="left" style="width: 8%;"></div>
                <div class="right">
                    <div class="count">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block; margin-bottom: 3%;" src="~/Content/images/4.jpg" alt="image">
                        </div>
                    </div>
                    <span class="count_bottom"><i class="green">Calculus II </i> </span>
                    <span class="count_bottom"><i class="fa fa-user"></i> Howard ANton</span>
                </div>
            </div>
            <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                <div class="left" style="width: 8%;"></div>
                <div class="right">
                    <div class="count">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block; margin-bottom: 3%;" src="~/Content/images/4.jpg" alt="image">
                        </div>
                    </div>
                    <span class="count_bottom"><i class="green">Calculus II </i> </span>
                    <span class="count_bottom"><i class="fa fa-user"></i> Howard ANton</span>
                </div>
            </div>
        </div>
    </div>
</div>