@model System.Collections.Generic.List<Entities.Magzine>
@{
    ViewBag.Title = "Search";
}
@section heading{
    <h2>Search</h2>
}
<form action='@Url.Content("~/Magzines/Search")' method="post">
    <input type="text" name="textBox" /> <input type="submit" name="btn" value="GO" />
    </form>
    @foreach (var item in @Model)
    {
        <div class="thumbnail">
            <div class="image view view-first">
                <img style="width: 100%; display: block;" src="images/4.jpg" alt="image">
                <div class="mask">
                    <p>Your Text</p>
                    <div class="tools tools-bottom">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
            <div class="caption">
                <a>@item.mag_name</a>
            </div>
        </div>

    }
