@{
    ViewBag.Title = "SearchByCategory";
}

@section heading
{
    Categories
}
@model List<Entities.MagzineDTO>

<div class="x_content">
    <div class="row">
        <ul class="to_do">
            @foreach (var x in Model)
            {
                <li class="">
                    <div class="accordpanel">
                        <div class="header">@x.category</div>
                        <div class="content">

                            <div class="x_content">
                                <div class="row">
                                    @foreach (var dto in @x.dtos)
                                    {
                                        <div class="col-md-55">
                                            <div class="thumbnail">
                                                <div class="image view view-first">
                                                    <img alt="image" src="~/Content/data/Magzines/@(dto.file+".jpg")" style="width: 100%; display: block;">
                                                </div>
                                                <div class="caption">
                                                    <a id="link_" target="_blank" href='/Magzines/Show/@(dto.file+".pdf")'><p>@dto.name</p></a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("div.header").each(function () {
            if($(this).attr("id") == '@ViewBag.Sub')
            {
                $(this).closest(".accordpanel").addClass('current').find('div.content').slideDown();
            }
        });
    });

</script>